@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    color:rgba(10, 10, 10, 0.8)
}

.nav-header {
    width:100vw;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 13px;
    
}

/* menu - esquerda */

.nav-e svg {
    width: 10px;
    padding-left: 6px;
}


.nav-e ul {
    display:flex;
    list-style: none;
    align-items: center;    
}

.nav-e ul li a {
    padding-left: 17px;
    text-decoration: none;
}

.nav-e img{
    width: 55px;
    align-items: center;
}

/* menu - direita */
.nav-d ul {
    display: flex;
    list-style: none;
    align-items: center;
   
}

.nav-d ul li a {
    margin-right: 50px;
    text-decoration: none;
    height: 30px;
}

.nav-d ul li {
    /* height: 30px; */
}

.arrow {
    width: 10px;
    padding-left: 6px;
    
}

.user-icon {
    width: 18px;
    margin-right: 10px;
    align-items: center;
    position: relative;
}

.heart {
    width: 18px;
    margin-right: 10px;
    position: relative;
       
}
