@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

.ps {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.img {
    width: 100px;
    height: 40px;


}

#logo {
    width: 58px;
    height: 30px;
    padding: 5px;

}


.nav {
    justify-content: center;
    align-items: center;

}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
    position: relative;
}

.nav ul li a {
    display: block;
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 13px;

}

.nav ul li ul.dropdown li {
    display: block;
    background-color: white;
}

.nav ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.nav ul li a:hover {
    background: #f6f6f6;
}

.nav ul li:hover ul.dropdown {
    display: block;
}

/* menu lado direito */

.nv-d .btn-green {
    color:#16c398;
}

.nv-d {
    justify-content:center;
    align-items: center;
    margin-left: 600px;
}

.icon {
    width: 18%;
}

.nv-d ul {
    list-style: none;
}

.nv-d ul li {
    display: inline-block;
    position: relative;
    
}

.nv-d ul li a {
    display: block;
    font-size: 13px;
    padding: 10px 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    
    
}

.nv-d ul li ul.dropdown li {
    display: block;
        
}

.nv-d ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.nv-d ul li a:hover {
    background: #f6f6f6;
}

.nv-d ul li:hover ul.dropdown {
    background-color: rgb(245, 245, 245);
    display: block;
    padding: 10px;
    width: 180px;
    height: 100px;
    box-shadow: 0 0 2px;
}

.nv-d ul li:hover ul.dropdown input {
    display: flex;
    background-color:white;
    margin-top: 5px;
    border-radius: 4px;
    border:none;
    border: 1px solid #dad9d9;
    width: 180px;
    height: 25px;
        
}

.nv-d ul li:hover ul.dropdown button {
    margin-top: 10px;
    width: 60px;
    height: 25px;
    border-radius: 3px;
    border:none;
    background-color: #dad9d9;
    color: #777;
}





/* cadastro */
.cadastro {
    display: flex;
    margin-top: 20px;
    justify-content: center;

}

.img-cadastro {
    padding: 200px 100px 200px 200px;    
    margin-left: -200px;
}

.img-cadastro img{
    width: 450px;
    
}

.form-cadastro {
    background-color: rgb(245, 245, 245);
    width: 310px;
    box-shadow: 0 0 5px #777;
    margin-left: 30px;
    border-radius: 3px;
    padding: 20px 60px 30px 30px;
    margin-left: 80px;
}

.form-title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.input-cadastro {
    margin: 5px 0;
    padding: 10px 27px 10px 8px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid #bebebe;
}

.footer-cadastro {
    width: 315px;
    text-align: justify;
    font-size: 10px;
    font-weight: bold;
}

.footer-cadastro a{
    text-decoration: none;
    color:#16c398;
}

.btn-cadastro {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 7px;
    background-color: #d1d1d1;
    font-weight: bold;
    color:#adadad;
}

/* explicacao */

.ex-title {
    padding-top:30px;
    text-align: center;
    color:#727272;
    font-size: 25px;
    
}

.ex-cards {
    display: flex;
    padding: 30px 100px 30px 100px;
    justify-content: center;
}

.ex-box {
    text-align: center;
    font-size: 14px;
    padding: 50px;
    width: 300px;
    
    
}

.ex-box a {
    text-decoration: none;
    color:#16c398;
}

.ex-box img {
    width: 100px;
}

/* serviço */

.servico {
    /* background-color: #ededed; */
    display: flex;
    justify-content: center;
    height: 520px;
    background-image: url(./Assets/bg-servico.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.servico a{
    text-decoration: none;
    color:#16c398;
    font-weight: bold;
}

.box-servico-1 {
    width: 600px;
    padding: 50px 100px 0px 100px;
    color:#727272;
    font-weight: bold;
    font-size: 14px;
}

.box-servico-2 {
    padding: 50px 100px 0px 0px;
}

.box-servico-1 p {
    text-align: justify;
}

.img-servico {
    width: 400px;
}

/* feedback */

.fb-title {
    text-align: center;
    padding-top: 50px;
}

.fb-cards {
    display: flex;
    padding: 30px 60px 30px 60px;
    justify-content: center;
    margin:20px
}

.fb-box-card {
    margin:0 10px;
    width: 300px;
    height: 150px;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 5px #777;
    text-align:left;
    display: flex;
}

.fb-box-card p {
    font-size: 12px;
    
}

.fb-box-card img {
    width: 100px;
    height:90px;
}

/* detalhes */

.detalhes {
    background-color: #3a5080;
    padding: 30px 150px 110px 150px;
    height: 400px;
}

.det-title {
    text-align: center;
    color:white;
    padding-bottom: 30px;
}

.det-subtitle  {
    font-style: italic;
    color:#fbecb9;
    
}

.det-box-card {
    display: flex;
    text-align: justify;
    text-align: center;
    justify-content: center;
    padding: 20px;
    
    
}

.det-card {
    width: 200px;
    padding: 0 30px 0 30px;
}

.det-card h1 {
    color:#fbecb9;
    font-style: italic;
    font-size: 50px;
    font-weight: lighter;
}

.det-txt-card {
    color:white;
    font-size: 14px;
    padding-top: 20px;
}

.det-btn {
    text-align: center;
    padding: 50px 0 0 0;
}

.det-btn button {
    text-align: center;
    background-color:#fbecb9;
    width: 120px;
    height: 32px;
    border:none;
    border-radius: 5px;
    font-weight: bold;
}

.det-btn button a {
    text-decoration: none;
    color:#85623e;
}

.det-faq {
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 15px;
}

/* footer */

.footer {
    display: flex;
    padding: 40px 0 100px 0;
    justify-content: center;
}

.bg-footer {
    background-color: #ededed;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    font-size: 13px;
    padding: 5px;
}

.footer ul li a {
        text-decoration: none;
        color:#9f9f9f;
}

.footer ul li a:hover {
    color:#676666;
}

.footer h5 {
    color:#00bf8f;
    padding: 0 0 15px;
    font-size: 15px;
}

.footer hr {
    width: 300px;
}

.ft-download-app {
    padding: 0 60px 0 5px;
    width: 200px;
    height: 370px;
    
    
}

.ft-download-app p {
    margin-top: 100px;
    color:#9f9f9f;
    font-weight: bold;
}

.ft-download-app img {
    width: 120px;
    padding: 3px;
}

.ft-card {
    padding: 0;
    width: 200px;
    
}

/* direitos reservados */

.rights {
    display: flex;
    height: 100px;
    margin: 0 150px;
    justify-content: space-between;
    color:#9f9f9f;
    align-items: center;
}

.rights a {
    text-decoration: none;
    color:#9f9f9f;
    
}

.reserved {
    display: flex;
    font-size: 14px;
}

.reserved nav a {
    padding: 0 30px;
}

.reserved nav a:hover {
    color:#676666;
}

.socials a img {
    width: 25px;
    padding: 0 5px;
    color:rgba(240,240,240,0.5);
    
}